@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html, body {
  overflow-x: hidden;
}

body {
    background-color: #0a0e17;
}


@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(400%);
    }
}

.shimmer {
    animation: shimmer 1.7s infinite;
}